{{ include('dashboard/header.html') }}

{{ include('dashboard/navbar.html') }}

    <main class="content">

      <h1>Add a new link</h1>

      <form class="form" method="post" action="{{ settings.site_url }}/dashboard/navigation/store">

        <label for="link_text">Link text:</label>
        <span class="invalid-feedback">{{ link_text_err }}</span>
        <input id="link_text" name="link_text" type="text" class="form-control" value="{{ link_text }}" />

        <label for="link_url">Link URL:</label>
        <span class="invalid-feedback">{{ link_url_err }}</span>
        <input id="link_url" name="link_url" type="url" class="form-control" value="{{ link_url }}" />

        <input type="submit" value="Add new link" />

      </form>

    </main>

  </body>
</html>
