{{ include('dashboard/header.html') }}

{{ include('dashboard/navbar.html') }}

    <main class="content">

      <h1>Edit post</h1>

      {{ flash('post_message') }}

      <form class="form" action="{{ settings.site_url }}/dashboard/post/update/{{post.id}}" method="post">

        <label for="post_title">Post title:</label>
        <input id="post_title" name="post_title" type="text" value="{{post.title}}" />

        <label for="post_tags">Post tags:</label>
        <input id="post_tags" name="post_tags" type="text" value="{{post.tags}}" />

        <!-- <label for="post_url">Post URL:</label>
        <input id="post_url" name="post_url" type="url" /> -->

        <label for="post_content">Post content:</label>
        <textarea id="post_content" name="post_content">{{post.content}}</textarea>

        <input type="hidden" name="post_id" value="{{post.id}}" />

        <input type="submit" value="Save" />

        <script src="{{ settings.site_url }}/admin/ckeditor/ckeditor.js"></script>
        <script>CKEDITOR.replace('post_content');</script>

      </form>

    </main>

  </body>
</html>
