<aside class="main-sidebar">
  <nav>
    <ul>
      <li class="{{ isUrl('dashboard') ? 'active' : '' }}"><a href="{{ settings.site_url }}/dashboard"><i class="fa fa-dashboard fa-fw" aria-hidden="true"></i> Dashboard</a></li>
      <li class="{{ isUrl('dashboard/profile') ? 'active' : '' }}"><a href="{{ settings.site_url }}/dashboard/profile"><i class="fa fa-user fa-fw" aria-hidden="true"></i> My profile</a></li>
      <li class="{{ isUrl('dashboard/posts') ? 'active' : '' }}"><a href="{{ settings.site_url }}/dashboard/posts"><i class="fa fa-list fa-fw" aria-hidden="true"></i> Posts</a></li>
      <li class="{{ isUrl('dashboard/pages') ? 'active' : '' }}"><a href="{{ settings.site_url }}/dashboard/pages"><i class="fa fa-list fa-fw" aria-hidden="true"></i> Pages</a></li>
      <li class="{{ isUrl('dashboard/post/add') ? 'active' : '' }}"><a href="{{ settings.site_url }}/dashboard/post/add"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add new post</a></li>
      <li class="{{ isUrl('dashboard/page/add') ? 'active' : '' }}"><a href="{{ settings.site_url }}/dashboard/page/add"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add new page</a></li>
      <li class="{{ isUrl('dashboard/navigation') ? 'active' : '' }}"><a href="{{ settings.site_url }}/dashboard/navigation"><i class="fa fa-link fa-fw" aria-hidden="true"></i> Navigation</a></li>
      <li class="{{ isUrl('dashboard/settings') ? 'active' : '' }}"><a href="{{ settings.site_url }}/dashboard/settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> Settings</a></li>
      <!-- <li class="{{ isUrl('dashboard/themes') ? 'active' : '' }}"><a href="/?url=dashboard/themes"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> Themes</a></li> -->
      <li class="{{ isUrl('dashboard/comments') ? 'active' : '' }}"><a href="{{ settings.site_url }}/dashboard/comments"><i class="fa fa-comments fa-fw" aria-hidden="true"></i> Comments</a></li>
      <li class="{{ isUrl('dashboard/users') ? 'active' : '' }}"><a href="{{ settings.site_url }}/dashboard/users"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Users</a></li>
      <li class="{{ isUrl('dashboard/about') ? 'active' : '' }}"><a href="{{ settings.site_url }}/dashboard/about"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> About CMS</a></li>
    </ul>
  </nav>
</aside>