{{ include('dashboard/header.html') }}

{{ include('dashboard/navbar.html') }}

    <main class="content">

      <h1>Pages</h1>

      {{ flash('page_message') }}

      <ul class="posts">

        {% for page in pages %}

          <li class="post-entry">
            <div class="row">
              <h3><a href="{{ settings.site_url }}/pages/show/{{page.slug}}">{{ page.title }}</a></h3>
              <span>{{ page.visits_count }} views</span>
            </div>
            <div class="row">
              <ul class="post-entry-menu">
                <li>
                  <a href="{{ settings.site_url }}/dashboard/page/edit/{{page.id}}" class="btn-edit">Edit</a>
                </li>
                <li>
                  <form class="form_delete" method="POST" action="?url=dashboard/page/delete/{{page.id}}">
                    <input type="hidden" name="_method" value="DELETE" />
                    <input type="hidden" name="_token" value="{{ 'csrf_token()' }}" />
                    <a href="{{ settings.site_url }}/dashboard/page/delete/{{page.id}}" class="btn-delete" onclick="event.target.parentNode.submit(); return false;">Delete</a>
                  </form>
                </li>
              </ul>
              <time>{{ page.created_at }}</time>
            </div>
          </li>

        {% endfor %}

      </ul>

      <a class="button" href="{{ settings.site_url }}/dashboard/page/add">Add new page</a>

    </main>

  </body>
</html>
