{{ include('dashboard/header.html') }}

{{ include('dashboard/navbar.html') }}

    <main class="content">

      <h1>General settings</h1>

      {{ flash('settings_updated') }}
      
      <form class="form" method="post" action="?url=dashboard/settings">

        <label for="site_title">Site title:</label>
        <input id="site_title" name="site_title" type="text" value="{{ settings.site_title }}" class="form-control" />

        <label for="site_tagline">Site tagline:</label>
        <input id="site_tagline" name="site_tagline" type="text" value="{{ settings.site_tagline }}" class="form-control" />

        <label for="site_description">Site description:</label>
        <input id="site_description" name="site_description" type="text" value="{{ settings.site_description }}" class="form-control" />

        <label for="site_keywords">Site keywords:</label>
        <input id="site_keywords" name="site_keywords" type="text" value="{{ settings.site_keywords }}" class="form-control" />

        <label for="site_url">Site address (URL):</label>
        <input id="site_url" name="site_url" type="url" value="{{ settings.site_url }}" class="form-control" />

        <label for="posts_per_page">Posts per page:</label>
        <input id="posts_per_page" name="posts_per_page" type="number" value="{{ settings.posts_per_page }}" class="form-control" />

        <input type="submit" value="Save changes" />

      </form>

    </main>

  </body>
</html>